# 
# SITE- AND/OR PLATFORM-SPECIFIC DEFINITIONS.
# 

#
# Items in this file will need to be changed for each platform.
#
RAND = randi8
# The following is highly reliable but may be slow:
# RAND = randdp
